In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nazar\anaconda3\lib\site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [6]:
connect = psycopg2.connect(
    host = 'localhost',
    database ='atp',
    user = 'postgres',
    password = '12345678'

)

In [8]:
def select(sql):
    return pd.read_sql_query(sql, connect)

In [ ]:
sql = 'SELECT * FROM atp_matches_2002'