In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nazar\anaconda3\lib\site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
connect = psycopg2.connect(
    host = 'localhost',
    database ='atp',
    user = 'postgres',
    password = '12345678'

)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://postgres:12345678@localhost:5432/atp')

In [8]:
def select(sql):
    return pd.read_sql_query(sql,engine)

In [9]:
sql = 'SELECT * FROM atp_matches_2004'

In [10]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2004-1536,Madrid Masters,Hard,48,M,20041018,1,102610,NaN,None,...,64.0,40.0,28.0,16.0,13.0,17.0,54.0,705.0,65.0,598.0
1,2004-1536,Madrid Masters,Hard,48,M,20041018,2,103344,NaN,None,...,29.0,21.0,16.0,10.0,4.0,6.0,29.0,1085.0,38.0,883.0
2,2004-1536,Madrid Masters,Hard,48,M,20041018,3,102179,NaN,Q,...,28.0,23.0,19.0,10.0,2.0,4.0,96.0,436.0,56.0,685.0
3,2004-1536,Madrid Masters,Hard,48,M,20041018,4,103084,NaN,None,...,53.0,35.0,23.0,15.0,4.0,10.0,16.0,1369.0,112.0,384.0
4,2004-1536,Madrid Masters,Hard,48,M,20041018,5,104417,NaN,None,...,37.0,27.0,13.0,10.0,2.0,3.0,34.0,965.0,35.0,961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3283,2004-615,Dusseldorf,Clay,64,A,20040517,290,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,28.0,1070.0
3284,2004-615,Dusseldorf,Clay,64,A,20040517,283,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,14.0,1425.0
3285,2004-615,Dusseldorf,Clay,64,A,20040517,282,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,15.0,1420.0
3286,2004-615,Dusseldorf,Clay,64,A,20040517,278,102610,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,1075.0,114.0,355.0
3287,2004-615,Dusseldorf,Clay,64,A,20040517,275,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,24.0,1115.0

In [11]:
#for creating a simple model we are using matches from 2010 to 2022

In [12]:
sql = 'SELECT * FROM atp_matches_2010'

In [13]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,4,104925,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6035.0,12.0,2485.0
3026,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,5,104678,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1360.0,23.0,1575.0
3027,2010-615,Dusseldorf,Clay,32,A,20100516,291,104724,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,835.0,56.0,805.0
3028,2010-615,Dusseldorf,Clay,32,A,20100516,285,103908,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,805.0,504.0,58.0
3029,2010-615,Dusseldorf,Clay,32,A,20100516,280,104676,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,615.0,56.0,805.0

In [14]:
list_matches = []

In [18]:
for i in range(2010,2023):
    sql = f'SELECT * FROM atp_matches_{i}'
    list_matches.append(select(sql))

In [22]:
len(list_matches)

13

In [23]:
df = pd.concat(list_matches)

In [24]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2913,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
2916,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [27]:
df.reset_index(drop=True, inplace=True)

In [28]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [30]:
df.shape

(36509, 49)

In [32]:
df.to_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_2010_to_2022.csv', index=False)

In [33]:
pd.read_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_2010_to_2022.csv')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,NaN,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,NaN,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,NaN,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [75]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,104053,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,104958,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,104755,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,105051,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,104607,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,209362,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,202065,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,138846,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,209409,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,208414,1

In [35]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [37]:
len(df['winner_id'].unique())

973

In [38]:
len(df['loser_id'].unique())

1423

In [41]:
sql = 'SELECT * FROM atp_players'
players =select(sql)

In [42]:
players.head()

   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554

In [52]:
players['player_id']

0        100001
1        100002
2        100003
3        100004
4        100005
          ...
61634    212460
61635    212461
61636    212462
61637    212463
61638    212464
Name: player_id, Length: 61639, dtype: int64

In [76]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,104053,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,104958,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,104755,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,105051,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,104607,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,209362,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,202065,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,138846,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,209409,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,208414,1

In [78]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,1

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
winner_df , loser_df = train_test_split(df, test_size=0.4, random_state = 17)

In [83]:
winner_df['player_id'] = winner_df['winner_id']

In [84]:
winner_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
12230,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
9092,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
35453,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
12829,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
12616,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31044,2021-0316,Bastad,Clay,32,A,20210712,280,106148,NaN,None,...,14.0,9.0,5.0,10.0,97.0,796.0,74.0,938.0,1,106148
25631,2018-6116,Atlanta,Hard,32,A,20180723,290,104571,NaN,None,...,12.0,10.0,8.0,13.0,95.0,599.0,42.0,1030.0,1,104571
33174,2021-9158,Cordoba,Clay,32,A,20210222,292,105077,5.0,None,...,15.0,16.0,0.0,3.0,47.0,1210.0,234.0,258.0,1,105077
34959,2022-520,Roland Garros,Clay,128,G,20220523,205,128034,12.0,None,...,8.0,13.0,3.0,8.0,13.0,3095.0,48.0,1023.0,1,128034
10863,2013-540,Wimbledon,Grass,128,G,20130624,91,104338,22.0,None,...,11.0,19.0,9.0,14.0,20.0,1740.0,86.0,586.0,1,104338

In [87]:
loser_df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'target'],
      dtype='object')

In [90]:
loser_df['player_id'] = loser_df['loser_id']

In [91]:
loser_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
20269,2016-560,US Open,Hard,128,G,20160829,199,106058,26.0,None,...,18.0,14.0,2.0,6.0,27.0,1450.0,9.0,3515.0,1,105227
2541,2010-773,Bucharest,Clay,28,A,20100920,7,104719,NaN,None,...,12.0,12.0,4.0,9.0,87.0,611.0,52.0,905.0,1,103812
32832,2021-6242,Winston-Salem,Hard,64,A,20210823,263,125802,NaN,None,...,21.0,10.0,6.0,8.0,63.0,1025.0,88.0,873.0,1,104312
6976,2012-403,Miami Masters,Hard,96,M,20120321,81,104925,1.0,None,...,11.0,10.0,7.0,10.0,1.0,12670.0,17.0,1595.0,1,104755
35514,2022-0418,Washington,Hard,64,A,20220801,287,200624,NaN,None,...,19.0,12.0,13.0,17.0,54.0,815.0,19.0,1730.0,1,105777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33940,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,1,144684
17401,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,1,105643
16360,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,1,105373
8374,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,1,105028
23853,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,1,104297

In [93]:
loser_df['target'] = 0

In [96]:
loser_df[['loser_id','target','player_id']]

       loser_id  target  player_id
20269    105227       0     105227
2541     103812       0     103812
32832    104312       0     104312
6976     104755       0     104755
35514    105777       0     105777
...         ...     ...        ...
33940    144684       0     144684
17401    105643       0     105643
16360    105373       0     105373
8374     105028       0     105028
23853    104297       0     104297

[14604 rows x 3 columns]

In [99]:
df = pd.concat([winner_df,loser_df], axis = 0)

In [101]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
12230,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
9092,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
35453,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
12829,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
12616,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33940,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,0,144684
17401,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,0,105643
16360,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,0,105373
8374,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,0,105028
23853,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,0,104297

In [102]:
df['target'].describe()

count    36509.000000
mean         0.599989
std          0.489907
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: target, dtype: float64

In [103]:
df.reset_index(drop=True, inplace=True)

In [104]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
1,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
2,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
3,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
4,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,0,144684
36505,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,0,105643
36506,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,0,105373
36507,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,0,105028
36508,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,0,104297

In [108]:
df = df.sample(frac=1, random_state=42)

In [110]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
17484,2013-505,Santiago,Clay,28,A,20130204,9,104547,NaN,None,...,9.0,11.0,4.0,10.0,73.0,708.0,168.0,323.0,1,104547
35808,2016-M024,Cincinnati Masters,Hard,64,M,20160815,268,104338,NaN,PR,...,11.0,10.0,3.0,5.0,104.0,575.0,20.0,1650.0,0,103333
34295,2016-0421,Canada Masters,Hard,64,M,20160725,298,105453,3.0,None,...,20.0,9.0,6.0,9.0,6.0,4290.0,5.0,4720.0,0,104527
23140,2021-0337,Vienna,Hard,32,A,20211025,293,126207,NaN,Q,...,15.0,14.0,2.0,5.0,49.0,1192.0,3.0,7930.0,0,126774
33861,2010-422,Cincinnati Masters,Hard,56,M,20100815,27,104571,NaN,None,...,19.0,15.0,2.0,6.0,20.0,1780.0,25.0,1480.0,0,105064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16850,2022-4138,Tel Aviv,Hard,32,A,20220926,283,122548,NaN,Q,...,9.0,8.0,6.0,9.0,446.0,87.0,383.0,116.0,1,122548
6265,2011-717,Houston,Clay,28,A,20110404,20,104976,NaN,WC,...,16.0,14.0,5.0,10.0,93.0,566.0,20.0,1520.0,1,104976
11284,2022-580,Australian Open,Hard,128,G,20220117,165,132283,25.0,None,...,22.0,16.0,5.0,12.0,26.0,1860.0,96.0,748.0,1,132283
860,2014-D031,Davis Cup G1 R2: COL vs DOM,Clay,4,D,20140404,1,105053,NaN,None,...,NaN,NaN,NaN,NaN,86.0,633.0,287.0,160.0,1,105053
15795,2013-337,Vienna,Hard,28,A,20131014,22,104898,NaN,None,...,13.0,13.0,5.0,10.0,63.0,797.0,17.0,1965.0,1,104898

In [111]:
df.reset_index(drop=True, inplace=True)

In [114]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'target', 'player_id'],
      dtype='object')

In [112]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,2013-505,Santiago,Clay,28,A,20130204,9,104547,NaN,None,...,9.0,11.0,4.0,10.0,73.0,708.0,168.0,323.0,1,104547
1,2016-M024,Cincinnati Masters,Hard,64,M,20160815,268,104338,NaN,PR,...,11.0,10.0,3.0,5.0,104.0,575.0,20.0,1650.0,0,103333
2,2016-0421,Canada Masters,Hard,64,M,20160725,298,105453,3.0,None,...,20.0,9.0,6.0,9.0,6.0,4290.0,5.0,4720.0,0,104527
3,2021-0337,Vienna,Hard,32,A,20211025,293,126207,NaN,Q,...,15.0,14.0,2.0,5.0,49.0,1192.0,3.0,7930.0,0,126774
4,2010-422,Cincinnati Masters,Hard,56,M,20100815,27,104571,NaN,None,...,19.0,15.0,2.0,6.0,20.0,1780.0,25.0,1480.0,0,105064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-4138,Tel Aviv,Hard,32,A,20220926,283,122548,NaN,Q,...,9.0,8.0,6.0,9.0,446.0,87.0,383.0,116.0,1,122548
36505,2011-717,Houston,Clay,28,A,20110404,20,104976,NaN,WC,...,16.0,14.0,5.0,10.0,93.0,566.0,20.0,1520.0,1,104976
36506,2022-580,Australian Open,Hard,128,G,20220117,165,132283,25.0,None,...,22.0,16.0,5.0,12.0,26.0,1860.0,96.0,748.0,1,132283
36507,2014-D031,Davis Cup G1 R2: COL vs DOM,Clay,4,D,20140404,1,105053,NaN,None,...,NaN,NaN,NaN,NaN,86.0,633.0,287.0,160.0,1,105053
36508,2013-337,Vienna,Hard,28,A,20131014,22,104898,NaN,None,...,13.0,13.0,5.0,10.0,63.0,797.0,17.0,1965.0,1,104898

In [115]:
df.to_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_for_simple_model_2010_to_2022.csv', index=False)

In [121]:
train = df.drop(['tourney_id', 'tourney_name','tourney_date','winner_id','winner_ioc','loser_id','score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced'],axis=1 )

In [126]:
train=train.drop(['loser_ioc','winner_seed','loser_seed'], axis = 1)

In [130]:
train =train.drop(['player_id'], axis = 1)

In [131]:
train

,surface,draw_size,tourney_level,match_num,winner_hand,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,Clay,28,A,9,L,188.0,27.7,R,170.0,20.4,73.0,708.0,168.0,323.0,1
1,Hard,64,M,268,R,185.0,32.3,R,208.0,37.4,104.0,575.0,20.0,1650.0,0
2,Hard,64,M,298,R,178.0,26.5,R,183.0,31.3,6.0,4290.0,5.0,4720.0,0
3,Hard,32,A,293,R,188.0,23.7,R,193.0,23.2,49.0,1192.0,3.0,7930.0,0
4,Hard,56,M,27,R,183.0,25.1,L,188.0,22.6,20.0,1780.0,25.0,1480.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,32,A,283,R,183.0,25.5,L,188.0,22.7,446.0,87.0,383.0,116.0,1
36505,Clay,28,A,20,R,196.0,23.7,R,198.0,23.4,93.0,566.0,20.0,1520.0,1
36506,Hard,128,G,165,R,191.0,26.6,R,196.0,28.5,26.0,1860.0,96.0,748.0,1
36507,Clay,4,D,1,R,188.0,26.3,U,183.0,24.0,86.0,633.0,287.0,160.0,1
36508,Hard,28,A,22,R,190.0,26.5,R,178.0,26.3,63.0,797.0,17.0,1965.0,1

In [135]:
train

,surface,draw_size,tourney_level,match_num,winner_hand,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,Clay,28,A,9,L,188.0,27.7,R,170.0,20.4,73.0,708.0,168.0,323.0,1
1,Hard,64,M,268,R,185.0,32.3,R,208.0,37.4,104.0,575.0,20.0,1650.0,0
2,Hard,64,M,298,R,178.0,26.5,R,183.0,31.3,6.0,4290.0,5.0,4720.0,0
3,Hard,32,A,293,R,188.0,23.7,R,193.0,23.2,49.0,1192.0,3.0,7930.0,0
4,Hard,56,M,27,R,183.0,25.1,L,188.0,22.6,20.0,1780.0,25.0,1480.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,32,A,283,R,183.0,25.5,L,188.0,22.7,446.0,87.0,383.0,116.0,1
36505,Clay,28,A,20,R,196.0,23.7,R,198.0,23.4,93.0,566.0,20.0,1520.0,1
36506,Hard,128,G,165,R,191.0,26.6,R,196.0,28.5,26.0,1860.0,96.0,748.0,1
36507,Clay,4,D,1,R,188.0,26.3,U,183.0,24.0,86.0,633.0,287.0,160.0,1
36508,Hard,28,A,22,R,190.0,26.5,R,178.0,26.3,63.0,797.0,17.0,1965.0,1

In [136]:
train['surface'].unique()

array(['Clay', 'Hard', 'Grass', 'Carpet'], dtype=object)

In [141]:
train = pd.get_dummies(train, columns=['surface'],prefix = ['surface'])

In [143]:
train

,draw_size,tourney_level,match_num,winner_hand,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,surface_Carpet,surface_Clay,surface_Grass,surface_Hard
0,28,A,9,L,188.0,27.7,R,170.0,20.4,73.0,708.0,168.0,323.0,1,0,1,0,0
1,64,M,268,R,185.0,32.3,R,208.0,37.4,104.0,575.0,20.0,1650.0,0,0,0,0,1
2,64,M,298,R,178.0,26.5,R,183.0,31.3,6.0,4290.0,5.0,4720.0,0,0,0,0,1
3,32,A,293,R,188.0,23.7,R,193.0,23.2,49.0,1192.0,3.0,7930.0,0,0,0,0,1
4,56,M,27,R,183.0,25.1,L,188.0,22.6,20.0,1780.0,25.0,1480.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,32,A,283,R,183.0,25.5,L,188.0,22.7,446.0,87.0,383.0,116.0,1,0,0,0,1
36505,28,A,20,R,196.0,23.7,R,198.0,23.4,93.0,566.0,20.0,1520.0,1,0,1,0,0
36506,128,G,165,R,191.0,26.6,R,196.0,28.5,26.0,1860.0,96.0,748.0,1,0,0,0,1
36507,4,D,1,R,188.0,26.3,U,183.0,24.0,86.0,633.0,287.0,160.0,1,0,1,0,0
36508,28,A,22,R,190.0,26.5,R,178.0,26.3,63.0,797.0,17.0,1965.0,1,0,0,0,1

In [144]:
train['tourney_level'].unique()

array(['A', 'M', 'G', 'D', 'F'], dtype=object)

In [145]:
train = pd.get_dummies(train, columns=['tourney_level'],prefix = ['tourney_level'])

In [146]:
train

,draw_size,match_num,winner_hand,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,...,target,surface_Carpet,surface_Clay,surface_Grass,surface_Hard,tourney_level_A,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M
0,28,9,L,188.0,27.7,R,170.0,20.4,73.0,708.0,...,1,0,1,0,0,1,0,0,0,0
1,64,268,R,185.0,32.3,R,208.0,37.4,104.0,575.0,...,0,0,0,0,1,0,0,0,0,1
2,64,298,R,178.0,26.5,R,183.0,31.3,6.0,4290.0,...,0,0,0,0,1,0,0,0,0,1
3,32,293,R,188.0,23.7,R,193.0,23.2,49.0,1192.0,...,0,0,0,0,1,1,0,0,0,0
4,56,27,R,183.0,25.1,L,188.0,22.6,20.0,1780.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,32,283,R,183.0,25.5,L,188.0,22.7,446.0,87.0,...,1,0,0,0,1,1,0,0,0,0
36505,28,20,R,196.0,23.7,R,198.0,23.4,93.0,566.0,...,1,0,1,0,0,1,0,0,0,0
36506,128,165,R,191.0,26.6,R,196.0,28.5,26.0,1860.0,...,1,0,0,0,1,0,0,0,1,0
36507,4,1,R,188.0,26.3,U,183.0,24.0,86.0,633.0,...,1,0,1,0,0,0,1,0,0,0
36508,28,22,R,190.0,26.5,R,178.0,26.3,63.0,797.0,...,1,0,0,0,1,1,0,0,0,0

In [147]:
train = pd.get_dummies(train, columns=['winner_hand'],prefix = ['winner_hand'])
train = pd.get_dummies(train, columns=['tourney_level'],prefix = ['tourney_level'])
train = pd.get_dummies(train, columns=['loser_hand'],prefix = ['loser_hand'])

In [151]:
train

,draw_size,match_num,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,...,surface_Grass,surface_Hard,tourney_level_A,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,winner_hand_L,winner_hand_R,winner_hand_U
0,28,9,188.0,27.7,R,170.0,20.4,73.0,708.0,168.0,...,0,0,1,0,0,0,0,1,0,0
1,64,268,185.0,32.3,R,208.0,37.4,104.0,575.0,20.0,...,0,1,0,0,0,0,1,0,1,0
2,64,298,178.0,26.5,R,183.0,31.3,6.0,4290.0,5.0,...,0,1,0,0,0,0,1,0,1,0
3,32,293,188.0,23.7,R,193.0,23.2,49.0,1192.0,3.0,...,0,1,1,0,0,0,0,0,1,0
4,56,27,183.0,25.1,L,188.0,22.6,20.0,1780.0,25.0,...,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,32,283,183.0,25.5,L,188.0,22.7,446.0,87.0,383.0,...,0,1,1,0,0,0,0,0,1,0
36505,28,20,196.0,23.7,R,198.0,23.4,93.0,566.0,20.0,...,0,0,1,0,0,0,0,0,1,0
36506,128,165,191.0,26.6,R,196.0,28.5,26.0,1860.0,96.0,...,0,1,0,0,0,1,0,0,1,0
36507,4,1,188.0,26.3,U,183.0,24.0,86.0,633.0,287.0,...,0,0,0,1,0,0,0,0,1,0
36508,28,22,190.0,26.5,R,178.0,26.3,63.0,797.0,17.0,...,0,1,1,0,0,0,0,0,1,0

In [152]:
train = pd.get_dummies(train, columns=['loser_hand'],prefix = ['loser_hand'])

In [155]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36509 entries, 0 to 36508
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draw_size           36509 non-null  int64
 1   match_num           36509 non-null  int64
 2   winner_ht           35944 non-null  float64
 3   winner_age          36506 non-null  float64
 4   loser_ht            35279 non-null  float64
 5   loser_age           36507 non-null  float64
 6   winner_rank         36284 non-null  float64
 7   winner_rank_points  36284 non-null  float64
 8   loser_rank          35908 non-null  float64
 9   loser_rank_points   35908 non-null  float64
 10  target              36509 non-null  int64
 11  surface_Carpet      36509 non-null  uint8
 12  surface_Clay        36509 non-null  uint8
 13  surface_Grass       36509 non-null  uint8
 14  surface_Hard        36509 non-null  uint8
 15  tourney_level_A     36509 non-null  uint8
 16  tourney_level_D     36509 non-null  uint8
 17  tourney_level_F     36509 non-null  uint8
 18  tourney_level_G     36509 non-null  uint8
 19  tourney_level_M     36509 non-null  uint8
 20  winner_hand_L       36509 non-null  uint8
 21  winner_hand_R       36509 non-null  uint8
 22  winner_hand_U       36509 non-null  uint8
 23  loser_hand_L        36509 non-null  uint8
 24  loser_hand_R        36509 non-null  uint8
 25  loser_hand_U        36509 non-null  uint8
dtypes: float64(8), int64(3), uint8(15)
memory usage: 3.6 MB

In [156]:
train.isnull().sum()

draw_size                0
match_num                0
winner_ht              565
winner_age               3
loser_ht              1230
loser_age                2
winner_rank            225
winner_rank_points     225
loser_rank             601
loser_rank_points      601
target                   0
surface_Carpet           0
surface_Clay             0
surface_Grass            0
surface_Hard             0
tourney_level_A          0
tourney_level_D          0
tourney_level_F          0
tourney_level_G          0
tourney_level_M          0
winner_hand_L            0
winner_hand_R            0
winner_hand_U            0
loser_hand_L             0
loser_hand_R             0
loser_hand_U             0
dtype: int64

In [163]:
mn = train['winner_ht'].mean()

In [164]:
mn

187.12269085243713

In [158]:
train.isnull().sum()

draw_size                0
match_num                0
winner_ht              565
winner_age               3
loser_ht              1230
loser_age                2
winner_rank            225
winner_rank_points     225
loser_rank             601
loser_rank_points      601
target                   0
surface_Carpet           0
surface_Clay             0
surface_Grass            0
surface_Hard             0
tourney_level_A          0
tourney_level_D          0
tourney_level_F          0
tourney_level_G          0
tourney_level_M          0
winner_hand_L            0
winner_hand_R            0
winner_hand_U            0
loser_hand_L             0
loser_hand_R             0
loser_hand_U             0
dtype: int64

In [165]:
train['winner_ht'].fillna(train['winner_ht'].mean(), inplace=True)

In [168]:
train.isnull().sum()

draw_size                0
match_num                0
winner_ht                0
winner_age               3
loser_ht              1230
loser_age                2
winner_rank            225
winner_rank_points     225
loser_rank             601
loser_rank_points      601
target                   0
surface_Carpet           0
surface_Clay             0
surface_Grass            0
surface_Hard             0
tourney_level_A          0
tourney_level_D          0
tourney_level_F          0
tourney_level_G          0
tourney_level_M          0
winner_hand_L            0
winner_hand_R            0
winner_hand_U            0
loser_hand_L             0
loser_hand_R             0
loser_hand_U             0
dtype: int64

In [169]:
train['winner_age'].fillna(train['winner_age'].mean(), inplace=True)

In [170]:
train['loser_ht'].fillna(train['loser_ht'].mean(), inplace=True)

In [171]:
train['loser_age'].fillna(train['loser_age'].mean(), inplace=True) 
train['winner_ht'].fillna(train['winner_ht'].mean(), inplace=True) 
train['winner_age'].fillna(train['winner_age'].mean(), inplace=True) 
train['loser_ht'].fillna(train['loser_ht'].mean(), inplace=True)

In [172]:
train.isnull().sum()

draw_size               0
match_num               0
winner_ht               0
winner_age              0
loser_ht                0
loser_age               0
winner_rank           225
winner_rank_points    225
loser_rank            601
loser_rank_points     601
target                  0
surface_Carpet          0
surface_Clay            0
surface_Grass           0
surface_Hard            0
tourney_level_A         0
tourney_level_D         0
tourney_level_F         0
tourney_level_G         0
tourney_level_M         0
winner_hand_L           0
winner_hand_R           0
winner_hand_U           0
loser_hand_L            0
loser_hand_R            0
loser_hand_U            0
dtype: int64

In [173]:
train.dropna(inplace=True)
train.isnull().sum()

In [174]:
train.isnull().sum()

draw_size             0
match_num             0
winner_ht             0
winner_age            0
loser_ht              0
loser_age             0
winner_rank           0
winner_rank_points    0
loser_rank            0
loser_rank_points     0
target                0
surface_Carpet        0
surface_Clay          0
surface_Grass         0
surface_Hard          0
tourney_level_A       0
tourney_level_D       0
tourney_level_F       0
tourney_level_G       0
tourney_level_M       0
winner_hand_L         0
winner_hand_R         0
winner_hand_U         0
loser_hand_L          0
loser_hand_R          0
loser_hand_U          0
dtype: int64

In [175]:
train

,draw_size,match_num,winner_ht,winner_age,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,...,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,winner_hand_L,winner_hand_R,winner_hand_U,loser_hand_L,loser_hand_R,loser_hand_U
0,28,9,188.0,27.7,170.0,20.4,73.0,708.0,168.0,323.0,...,0,0,0,0,1,0,0,0,1,0
1,64,268,185.0,32.3,208.0,37.4,104.0,575.0,20.0,1650.0,...,0,0,0,1,0,1,0,0,1,0
2,64,298,178.0,26.5,183.0,31.3,6.0,4290.0,5.0,4720.0,...,0,0,0,1,0,1,0,0,1,0
3,32,293,188.0,23.7,193.0,23.2,49.0,1192.0,3.0,7930.0,...,0,0,0,0,0,1,0,0,1,0
4,56,27,183.0,25.1,188.0,22.6,20.0,1780.0,25.0,1480.0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,32,283,183.0,25.5,188.0,22.7,446.0,87.0,383.0,116.0,...,0,0,0,0,0,1,0,1,0,0
36505,28,20,196.0,23.7,198.0,23.4,93.0,566.0,20.0,1520.0,...,0,0,0,0,0,1,0,0,1,0
36506,128,165,191.0,26.6,196.0,28.5,26.0,1860.0,96.0,748.0,...,0,0,1,0,0,1,0,0,1,0
36507,4,1,188.0,26.3,183.0,24.0,86.0,633.0,287.0,160.0,...,1,0,0,0,0,1,0,0,0,1
36508,28,22,190.0,26.5,178.0,26.3,63.0,797.0,17.0,1965.0,...,0,0,0,0,0,1,0,0,1,0

In [176]:
train.columns

Index(['draw_size', 'match_num', 'winner_ht', 'winner_age', 'loser_ht',
       'loser_age', 'winner_rank', 'winner_rank_points', 'loser_rank',
       'loser_rank_points', 'target', 'surface_Carpet', 'surface_Clay',
       'surface_Grass', 'surface_Hard', 'tourney_level_A', 'tourney_level_D',
       'tourney_level_F', 'tourney_level_G', 'tourney_level_M',
       'winner_hand_L', 'winner_hand_R', 'winner_hand_U', 'loser_hand_L',
       'loser_hand_R', 'loser_hand_U'],
      dtype='object')

In [178]:
train.to_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/simple_model_dataset.csv', index=False)

In [180]:
# making dataset with 50/50 distribution

In [186]:
df_winner, df_loser = train_test_split(df, test_size=0.5, random_state = 17)
df_winner['player_id'] = df_winner['winner_id']
df_loser['player_id'] = df_loser['loser_id']
df_loser['target'] = 0
df_winner['target'] = 1

In [187]:
df_loser[['loser_id','target','player_id']]

       loser_id  target  player_id
20269    103888       0     103888
2541     105649       0     105649
32832    105065       0     105065
6976     104571       0     104571
35514    105065       0     105065
...         ...     ...        ...
7778     106401       0     106401
28128    105173       0     105173
23994    105777       0     105777
33407    105948       0     105948
18196    105023       0     105023

[18255 rows x 3 columns]

In [188]:
df_winner[['winner_id','target','player_id']]

       winner_id  target  player_id
5527      104918       1     104918
22339     126207       1     126207
32243     104797       1     104797
5267      104719       1     104719
27131     126203       1     126203
...          ...     ...        ...
31044     104925       1     104925
25631     103781       1     103781
33174     105683       1     105683
34959     104871       1     104871
10863     126239       1     126239

[18254 rows x 3 columns]

In [192]:
df = pd.concat([df_winner,df_loser], axis = 0)

In [193]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
5527,2016-M009,Rome Masters,Clay,64,M,20160509,286,104918,2.0,None,...,9.0,8.0,7.0,12.0,3.0,7525.0,32.0,1220.0,1,104918
22339,2018-560,US Open,Hard,128,G,20180827,135,126207,NaN,None,...,25.0,18.0,7.0,12.0,44.0,1055.0,29.0,1365.0,1,126207
32243,2010-540,Wimbledon,Grass,128,G,20100621,70,104797,NaN,None,...,27.0,25.0,4.0,13.0,70.0,715.0,85.0,622.0,1,104797
5267,2016-580,Australian Open,Hard,128,G,20160118,154,104719,NaN,None,...,24.0,17.0,10.0,19.0,80.0,661.0,106.0,557.0,1,104719
27131,2020-M004,Acapulco,Hard,32,A,20200224,295,126203,NaN,None,...,11.0,9.0,7.0,12.0,35.0,1255.0,44.0,1085.0,1,126203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7778,2022-0321,Stuttgart,Grass,32,A,20220606,299,104918,NaN,None,...,13.0,10.0,1.0,3.0,68.0,890.0,78.0,803.0,0,106401
28128,2011-468,Estoril,Clay,28,A,20110425,1,104871,NaN,None,...,11.0,10.0,12.0,17.0,53.0,920.0,59.0,845.0,0,105173
23994,2013-5014,Shanghai Masters,Hard,56,M,20131007,10,105453,12.0,None,...,9.0,10.0,4.0,7.0,18.0,1840.0,28.0,1375.0,0,105777
33407,2022-580,Australian Open,Hard,128,G,20220117,104,104792,17.0,None,...,11.0,11.0,4.0,10.0,20.0,2373.0,64.0,976.0,0,105948
18196,2022-540,Wimbledon,Grass,128,G,20220627,162,105575,NaN,None,...,17.0,15.0,3.0,6.0,106.0,545.0,157.0,352.0,0,105023

In [195]:
df = df.sample(frac=1, random_state=42)
df.reset_index(drop=True, inplace=True)

In [196]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,2015-341,Metz,Hard,28,A,20150921,1,104460,NaN,None,...,14.0,13.0,5.0,7.0,107.0,499.0,86.0,599.0,1,104460
1,2012-403,Miami Masters,Hard,96,M,20120321,53,104468,13.0,None,...,6.0,9.0,5.0,10.0,13.0,2140.0,169.0,313.0,0,105138
2,2013-D061,Davis Cup G2 PO: BUL vs EST,Clay,4,D,20130405,2,106220,NaN,None,...,NaN,NaN,NaN,NaN,580.0,43.0,1343.0,3.0,0,123814
3,2010-421,Canada Masters,Hard,56,M,20100809,26,104731,NaN,Q,...,21.0,16.0,5.0,6.0,87.0,607.0,21.0,1715.0,0,105023
4,2019-580,Australian Open,Hard,128,G,20190114,115,105453,8.0,None,...,22.0,19.0,6.0,14.0,9.0,3750.0,176.0,291.0,0,111794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2020-8888,Atp Cup,Hard,24,A,20200106,268,106415,NaN,None,...,10.0,8.0,5.0,9.0,72.0,764.0,26.0,1450.0,1,106415
36505,2017-0407,Rotterdam,Hard,32,A,20170213,292,104542,6.0,None,...,6.0,9.0,0.0,3.0,14.0,2730.0,28.0,1370.0,1,104542
36506,2016-M007,Miami Masters,Hard,128,M,20160321,285,104925,1.0,None,...,6.0,9.0,6.0,12.0,1.0,16540.0,38.0,1146.0,1,104925
36507,2013-506,Buenos Aires,Clay,32,A,20130218,6,103990,NaN,None,...,14.0,8.0,12.0,19.0,95.0,545.0,134.0,408.0,1,103990
36508,2011-410,Monte Carlo Masters,Clay,56,M,20110410,52,103781,7.0,None,...,11.0,10.0,3.0,5.0,9.0,2660.0,3.0,8550.0,1,103781

In [206]:
train = df.drop(['tourney_id', 'tourney_name','tourney_date','winner_id','winner_ioc','loser_id','score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced'],axis=1 )

In [198]:
train

,surface,draw_size,tourney_level,match_num,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_age,...,loser_hand,loser_ht,loser_ioc,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,Hard,28,A,1,NaN,None,Dustin Brown,R,196.0,30.7,...,R,193.0,USA,31.5,107.0,499.0,86.0,599.0,1,104460
1,Hard,96,M,53,13.0,None,Gilles Simon,R,183.0,27.2,...,R,183.0,ESP,23.9,13.0,2140.0,169.0,313.0,0,105138
2,Clay,4,D,2,NaN,None,Dimitar Kuzmanov,R,183.0,19.6,...,R,NaN,EST,18.3,580.0,43.0,1343.0,3.0,0,123814
3,Hard,56,M,26,NaN,Q,Kevin Anderson,R,203.0,24.2,...,R,198.0,USA,22.8,87.0,607.0,21.0,1715.0,0,105023
4,Hard,128,G,115,8.0,None,Kei Nishikori,R,178.0,29.0,...,R,183.0,POL,23.0,9.0,3750.0,176.0,291.0,0,111794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,24,A,268,NaN,None,Yoshihito Nishioka,L,170.0,24.2,...,R,185.0,GEO,27.8,72.0,764.0,26.0,1450.0,1,106415
36505,Hard,32,A,292,6.0,None,Jo-Wilfried Tsonga,R,188.0,31.8,...,L,193.0,LUX,33.7,14.0,2730.0,28.0,1370.0,1,104542
36506,Hard,128,M,285,1.0,None,Novak Djokovic,R,188.0,28.8,...,R,185.0,POR,26.9,1.0,16540.0,38.0,1146.0,1,104925
36507,Clay,32,A,6,NaN,None,Tommy Robredo,R,180.0,30.8,...,R,178.0,POR,22.2,95.0,545.0,134.0,408.0,1,103990
36508,Clay,56,M,52,7.0,None,Jurgen Melzer,L,183.0,29.8,...,R,185.0,SUI,29.6,9.0,2660.0,3.0,8550.0,1,103781

In [211]:
train=train.drop(['loser_ioc','winner_seed','loser_seed','player_id'], axis = 1)

In [220]:
train = pd.get_dummies(train, columns=['surface'],prefix = ['surface'])

In [221]:
train = pd.get_dummies(train, columns=['winner_hand'],prefix = ['winner_hand'])
train = pd.get_dummies(train, columns=['tourney_level'],prefix = ['tourney_level'])
train = pd.get_dummies(train, columns=['loser_hand'],prefix = ['loser_hand'])

In [202]:
train

,draw_size,match_num,winner_entry,winner_name,winner_ht,winner_age,loser_entry,loser_name,loser_ht,loser_age,...,winner_hand_R,winner_hand_U,tourney_level_A,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,loser_hand_L,loser_hand_R,loser_hand_U
0,28,1,None,Dustin Brown,196.0,30.7,None,Rajeev Ram,193.0,31.5,...,1,0,1,0,0,0,0,0,1,0
1,96,53,None,Gilles Simon,183.0,27.2,Q,Roberto Bautista Agut,183.0,23.9,...,1,0,0,0,0,0,1,0,1,0
2,4,2,None,Dimitar Kuzmanov,183.0,19.6,None,Markus Kerner,NaN,18.3,...,1,0,0,1,0,0,0,0,1,0
3,56,26,Q,Kevin Anderson,203.0,24.2,None,Sam Querrey,198.0,22.8,...,1,0,0,0,0,0,1,0,1,0
4,128,115,None,Kei Nishikori,178.0,29.0,Q,Kamil Majchrzak,183.0,23.0,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,24,268,None,Yoshihito Nishioka,170.0,24.2,None,Nikoloz Basilashvili,185.0,27.8,...,0,0,1,0,0,0,0,0,1,0
36505,32,292,None,Jo-Wilfried Tsonga,188.0,31.8,None,Gilles Muller,193.0,33.7,...,1,0,1,0,0,0,0,1,0,0
36506,128,285,None,Novak Djokovic,188.0,28.8,None,Joao Sousa,185.0,26.9,...,1,0,0,0,0,0,1,0,1,0
36507,32,6,None,Tommy Robredo,180.0,30.8,Q,Gastao Elias,178.0,22.2,...,1,0,1,0,0,0,0,0,1,0
36508,56,52,None,Jurgen Melzer,183.0,29.8,None,Roger Federer,185.0,29.6,...,0,0,0,0,0,0,1,0,1,0

In [209]:
train['loser_age'].fillna(train['loser_age'].mean(), inplace=True) 
train['winner_ht'].fillna(train['winner_ht'].mean(), inplace=True) 
train['winner_age'].fillna(train['winner_age'].mean(), inplace=True) 
train['loser_ht'].fillna(train['loser_ht'].mean(), inplace=True)

In [224]:
train.isnull().sum()

draw_size             0
match_num             0
winner_name           0
winner_ht             0
winner_age            0
loser_name            0
loser_ht              0
loser_age             0
winner_rank           0
winner_rank_points    0
loser_rank            0
loser_rank_points     0
target                0
surface_Carpet        0
surface_Clay          0
surface_Grass         0
surface_Hard          0
winner_hand_L         0
winner_hand_R         0
winner_hand_U         0
tourney_level_A       0
tourney_level_D       0
tourney_level_F       0
tourney_level_G       0
tourney_level_M       0
loser_hand_L          0
loser_hand_R          0
loser_hand_U          0
dtype: int64

In [217]:
train = train.drop(['winner_entry','loser_entry'], axis = 1)

In [219]:
train

,surface,draw_size,tourney_level,match_num,winner_name,winner_hand,winner_ht,winner_age,loser_name,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,Hard,28,A,1,Dustin Brown,R,196.0,30.7,Rajeev Ram,R,193.000000,31.5,107.0,499.0,86.0,599.0,1
1,Hard,96,M,53,Gilles Simon,R,183.0,27.2,Roberto Bautista Agut,R,183.000000,23.9,13.0,2140.0,169.0,313.0,0
2,Clay,4,D,2,Dimitar Kuzmanov,R,183.0,19.6,Markus Kerner,R,186.413589,18.3,580.0,43.0,1343.0,3.0,0
3,Hard,56,M,26,Kevin Anderson,R,203.0,24.2,Sam Querrey,R,198.000000,22.8,87.0,607.0,21.0,1715.0,0
4,Hard,128,G,115,Kei Nishikori,R,178.0,29.0,Kamil Majchrzak,R,183.000000,23.0,9.0,3750.0,176.0,291.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,24,A,268,Yoshihito Nishioka,L,170.0,24.2,Nikoloz Basilashvili,R,185.000000,27.8,72.0,764.0,26.0,1450.0,1
36505,Hard,32,A,292,Jo-Wilfried Tsonga,R,188.0,31.8,Gilles Muller,L,193.000000,33.7,14.0,2730.0,28.0,1370.0,1
36506,Hard,128,M,285,Novak Djokovic,R,188.0,28.8,Joao Sousa,R,185.000000,26.9,1.0,16540.0,38.0,1146.0,1
36507,Clay,32,A,6,Tommy Robredo,R,180.0,30.8,Gastao Elias,R,178.000000,22.2,95.0,545.0,134.0,408.0,1
36508,Clay,56,M,52,Jurgen Melzer,L,183.0,29.8,Roger Federer,R,185.000000,29.6,9.0,2660.0,3.0,8550.0,1

In [207]:
train

,surface,draw_size,tourney_level,match_num,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_age,...,loser_hand,loser_ht,loser_ioc,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,Hard,28,A,1,NaN,None,Dustin Brown,R,196.0,30.7,...,R,193.0,USA,31.5,107.0,499.0,86.0,599.0,1,104460
1,Hard,96,M,53,13.0,None,Gilles Simon,R,183.0,27.2,...,R,183.0,ESP,23.9,13.0,2140.0,169.0,313.0,0,105138
2,Clay,4,D,2,NaN,None,Dimitar Kuzmanov,R,183.0,19.6,...,R,NaN,EST,18.3,580.0,43.0,1343.0,3.0,0,123814
3,Hard,56,M,26,NaN,Q,Kevin Anderson,R,203.0,24.2,...,R,198.0,USA,22.8,87.0,607.0,21.0,1715.0,0,105023
4,Hard,128,G,115,8.0,None,Kei Nishikori,R,178.0,29.0,...,R,183.0,POL,23.0,9.0,3750.0,176.0,291.0,0,111794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,24,A,268,NaN,None,Yoshihito Nishioka,L,170.0,24.2,...,R,185.0,GEO,27.8,72.0,764.0,26.0,1450.0,1,106415
36505,Hard,32,A,292,6.0,None,Jo-Wilfried Tsonga,R,188.0,31.8,...,L,193.0,LUX,33.7,14.0,2730.0,28.0,1370.0,1,104542
36506,Hard,128,M,285,1.0,None,Novak Djokovic,R,188.0,28.8,...,R,185.0,POR,26.9,1.0,16540.0,38.0,1146.0,1,104925
36507,Clay,32,A,6,NaN,None,Tommy Robredo,R,180.0,30.8,...,R,178.0,POR,22.2,95.0,545.0,134.0,408.0,1,103990
36508,Clay,56,M,52,7.0,None,Jurgen Melzer,L,183.0,29.8,...,R,185.0,SUI,29.6,9.0,2660.0,3.0,8550.0,1,103781

In [223]:
train.dropna(inplace=True)

In [225]:
train

,draw_size,match_num,winner_name,winner_ht,winner_age,loser_name,loser_ht,loser_age,winner_rank,winner_rank_points,...,winner_hand_R,winner_hand_U,tourney_level_A,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,loser_hand_L,loser_hand_R,loser_hand_U
0,28,1,Dustin Brown,196.0,30.7,Rajeev Ram,193.000000,31.5,107.0,499.0,...,1,0,1,0,0,0,0,0,1,0
1,96,53,Gilles Simon,183.0,27.2,Roberto Bautista Agut,183.000000,23.9,13.0,2140.0,...,1,0,0,0,0,0,1,0,1,0
2,4,2,Dimitar Kuzmanov,183.0,19.6,Markus Kerner,186.413589,18.3,580.0,43.0,...,1,0,0,1,0,0,0,0,1,0
3,56,26,Kevin Anderson,203.0,24.2,Sam Querrey,198.000000,22.8,87.0,607.0,...,1,0,0,0,0,0,1,0,1,0
4,128,115,Kei Nishikori,178.0,29.0,Kamil Majchrzak,183.000000,23.0,9.0,3750.0,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,24,268,Yoshihito Nishioka,170.0,24.2,Nikoloz Basilashvili,185.000000,27.8,72.0,764.0,...,0,0,1,0,0,0,0,0,1,0
36505,32,292,Jo-Wilfried Tsonga,188.0,31.8,Gilles Muller,193.000000,33.7,14.0,2730.0,...,1,0,1,0,0,0,0,1,0,0
36506,128,285,Novak Djokovic,188.0,28.8,Joao Sousa,185.000000,26.9,1.0,16540.0,...,1,0,0,0,0,0,1,0,1,0
36507,32,6,Tommy Robredo,180.0,30.8,Gastao Elias,178.000000,22.2,95.0,545.0,...,1,0,1,0,0,0,0,0,1,0
36508,56,52,Jurgen Melzer,183.0,29.8,Roger Federer,185.000000,29.6,9.0,2660.0,...,0,0,0,0,0,0,1,0,1,0

In [226]:
train = train.drop(['winner_name','loser_name'], axis = 1)

In [227]:
train

,draw_size,match_num,winner_ht,winner_age,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,...,winner_hand_R,winner_hand_U,tourney_level_A,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,loser_hand_L,loser_hand_R,loser_hand_U
0,28,1,196.0,30.7,193.000000,31.5,107.0,499.0,86.0,599.0,...,1,0,1,0,0,0,0,0,1,0
1,96,53,183.0,27.2,183.000000,23.9,13.0,2140.0,169.0,313.0,...,1,0,0,0,0,0,1,0,1,0
2,4,2,183.0,19.6,186.413589,18.3,580.0,43.0,1343.0,3.0,...,1,0,0,1,0,0,0,0,1,0
3,56,26,203.0,24.2,198.000000,22.8,87.0,607.0,21.0,1715.0,...,1,0,0,0,0,0,1,0,1,0
4,128,115,178.0,29.0,183.000000,23.0,9.0,3750.0,176.0,291.0,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,24,268,170.0,24.2,185.000000,27.8,72.0,764.0,26.0,1450.0,...,0,0,1,0,0,0,0,0,1,0
36505,32,292,188.0,31.8,193.000000,33.7,14.0,2730.0,28.0,1370.0,...,1,0,1,0,0,0,0,1,0,0
36506,128,285,188.0,28.8,185.000000,26.9,1.0,16540.0,38.0,1146.0,...,1,0,0,0,0,0,1,0,1,0
36507,32,6,180.0,30.8,178.000000,22.2,95.0,545.0,134.0,408.0,...,1,0,1,0,0,0,0,0,1,0
36508,56,52,183.0,29.8,185.000000,29.6,9.0,2660.0,3.0,8550.0,...,0,0,0,0,0,0,1,0,1,0

In [ ]:
train.to_csv