In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nazar\anaconda3\lib\site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
connect = psycopg2.connect(
    host = 'localhost',
    database ='atp',
    user = 'postgres',
    password = '12345678'

)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://postgres:12345678@localhost:5432/atp')

In [8]:
def select(sql):
    return pd.read_sql_query(sql,engine)

In [9]:
sql = 'SELECT * FROM atp_matches_2004'

In [10]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2004-1536,Madrid Masters,Hard,48,M,20041018,1,102610,NaN,None,...,64.0,40.0,28.0,16.0,13.0,17.0,54.0,705.0,65.0,598.0
1,2004-1536,Madrid Masters,Hard,48,M,20041018,2,103344,NaN,None,...,29.0,21.0,16.0,10.0,4.0,6.0,29.0,1085.0,38.0,883.0
2,2004-1536,Madrid Masters,Hard,48,M,20041018,3,102179,NaN,Q,...,28.0,23.0,19.0,10.0,2.0,4.0,96.0,436.0,56.0,685.0
3,2004-1536,Madrid Masters,Hard,48,M,20041018,4,103084,NaN,None,...,53.0,35.0,23.0,15.0,4.0,10.0,16.0,1369.0,112.0,384.0
4,2004-1536,Madrid Masters,Hard,48,M,20041018,5,104417,NaN,None,...,37.0,27.0,13.0,10.0,2.0,3.0,34.0,965.0,35.0,961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3283,2004-615,Dusseldorf,Clay,64,A,20040517,290,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,28.0,1070.0
3284,2004-615,Dusseldorf,Clay,64,A,20040517,283,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,14.0,1425.0
3285,2004-615,Dusseldorf,Clay,64,A,20040517,282,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,15.0,1420.0
3286,2004-615,Dusseldorf,Clay,64,A,20040517,278,102610,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,1075.0,114.0,355.0
3287,2004-615,Dusseldorf,Clay,64,A,20040517,275,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,24.0,1115.0

In [11]:
#for creating a simple model we are using matches from 2010 to 2022

In [12]:
sql = 'SELECT * FROM atp_matches_2010'

In [13]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,4,104925,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6035.0,12.0,2485.0
3026,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,5,104678,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1360.0,23.0,1575.0
3027,2010-615,Dusseldorf,Clay,32,A,20100516,291,104724,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,835.0,56.0,805.0
3028,2010-615,Dusseldorf,Clay,32,A,20100516,285,103908,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,805.0,504.0,58.0
3029,2010-615,Dusseldorf,Clay,32,A,20100516,280,104676,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,615.0,56.0,805.0

In [14]:
list_matches = []

In [18]:
for i in range(2010,2023):
    sql = f'SELECT * FROM atp_matches_{i}'
    list_matches.append(select(sql))

In [22]:
len(list_matches)

13

In [23]:
df = pd.concat(list_matches)

In [24]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2913,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
2916,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [27]:
df.reset_index(drop=True, inplace=True)

In [28]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [30]:
df.shape

(36509, 49)

In [32]:
df.to_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_2010_to_2022.csv', index=False)

In [33]:
pd.read_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_2010_to_2022.csv')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,NaN,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,NaN,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,NaN,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,NaN,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,NaN,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,NaN,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,NaN,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,NaN,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [75]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,104053,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,104958,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,104755,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,105051,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,104607,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,209362,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,202065,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,138846,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,209409,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,208414,1

In [35]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [37]:
len(df['winner_id'].unique())

973

In [38]:
len(df['loser_id'].unique())

1423

In [41]:
sql = 'SELECT * FROM atp_players'
players =select(sql)

In [42]:
players.head()

   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554

In [52]:
players['player_id']

0        100001
1        100002
2        100003
3        100004
4        100005
          ...
61634    212460
61635    212461
61636    212462
61637    212463
61638    212464
Name: player_id, Length: 61639, dtype: int64

In [76]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,winner,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,104053,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,104958,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,104755,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,105051,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,104607,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,209362,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,202065,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,138846,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,209409,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,208414,1

In [78]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0,1
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0,1
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0,1
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0,1
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0,1
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0,1
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0,1
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN,1
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN,1

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
winner_df , loser_df = train_test_split(df, test_size=0.4, random_state = 17)

In [83]:
winner_df['player_id'] = winner_df['winner_id']

In [84]:
winner_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
12230,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
9092,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
35453,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
12829,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
12616,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31044,2021-0316,Bastad,Clay,32,A,20210712,280,106148,NaN,None,...,14.0,9.0,5.0,10.0,97.0,796.0,74.0,938.0,1,106148
25631,2018-6116,Atlanta,Hard,32,A,20180723,290,104571,NaN,None,...,12.0,10.0,8.0,13.0,95.0,599.0,42.0,1030.0,1,104571
33174,2021-9158,Cordoba,Clay,32,A,20210222,292,105077,5.0,None,...,15.0,16.0,0.0,3.0,47.0,1210.0,234.0,258.0,1,105077
34959,2022-520,Roland Garros,Clay,128,G,20220523,205,128034,12.0,None,...,8.0,13.0,3.0,8.0,13.0,3095.0,48.0,1023.0,1,128034
10863,2013-540,Wimbledon,Grass,128,G,20130624,91,104338,22.0,None,...,11.0,19.0,9.0,14.0,20.0,1740.0,86.0,586.0,1,104338

In [87]:
loser_df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'target'],
      dtype='object')

In [90]:
loser_df['player_id'] = loser_df['loser_id']

In [91]:
loser_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
20269,2016-560,US Open,Hard,128,G,20160829,199,106058,26.0,None,...,18.0,14.0,2.0,6.0,27.0,1450.0,9.0,3515.0,1,105227
2541,2010-773,Bucharest,Clay,28,A,20100920,7,104719,NaN,None,...,12.0,12.0,4.0,9.0,87.0,611.0,52.0,905.0,1,103812
32832,2021-6242,Winston-Salem,Hard,64,A,20210823,263,125802,NaN,None,...,21.0,10.0,6.0,8.0,63.0,1025.0,88.0,873.0,1,104312
6976,2012-403,Miami Masters,Hard,96,M,20120321,81,104925,1.0,None,...,11.0,10.0,7.0,10.0,1.0,12670.0,17.0,1595.0,1,104755
35514,2022-0418,Washington,Hard,64,A,20220801,287,200624,NaN,None,...,19.0,12.0,13.0,17.0,54.0,815.0,19.0,1730.0,1,105777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33940,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,1,144684
17401,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,1,105643
16360,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,1,105373
8374,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,1,105028
23853,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,1,104297

In [93]:
loser_df['target'] = 0

In [96]:
loser_df[['loser_id','target','player_id']]

       loser_id  target  player_id
20269    105227       0     105227
2541     103812       0     103812
32832    104312       0     104312
6976     104755       0     104755
35514    105777       0     105777
...         ...     ...        ...
33940    144684       0     144684
17401    105643       0     105643
16360    105373       0     105373
8374     105028       0     105028
23853    104297       0     104297

[14604 rows x 3 columns]

In [99]:
df = pd.concat([winner_df,loser_df], axis = 0)

In [101]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
12230,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
9092,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
35453,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
12829,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
12616,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33940,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,0,144684
17401,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,0,105643
16360,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,0,105373
8374,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,0,105028
23853,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,0,104297

In [102]:
df['target'].describe()

count    36509.000000
mean         0.599989
std          0.489907
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: target, dtype: float64

In [103]:
df.reset_index(drop=True, inplace=True)

In [104]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,2014-580,Australian Open,Hard,128,G,20140113,87,104871,29.0,None,...,23.0,24.0,9.0,14.0,31.0,1255.0,56.0,825.0,1,104871
1,2013-891,Chennai,Hard,28,A,20121231,11,104250,NaN,Q,...,21.0,14.0,2.0,6.0,551.0,51.0,92.0,574.0,1,104250
2,2022-0439,Umag,Clay,32,A,20220725,294,206173,2.0,None,...,15.0,11.0,7.0,9.0,10.0,3185.0,86.0,611.0,1,206173
3,2014-404,Indian Wells Masters,Hard,96,M,20140306,89,105238,28.0,None,...,11.0,9.0,6.0,9.0,31.0,1205.0,11.0,2485.0,1,105238
4,2014-496,Marseille,Hard,28,A,20140217,26,104542,2.0,None,...,21.0,12.0,5.0,7.0,10.0,2885.0,117.0,481.0,1,104542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-0375,Montpellier,Hard,32,A,20220131,275,106000,NaN,Q,...,11.0,9.0,2.0,6.0,152.0,447.0,72.0,876.0,0,144684
36505,2015-D014,Davis Cup WG SF: BEL vs ARG,Hard,4,D,20150918,5,104327,NaN,None,...,NaN,NaN,NaN,NaN,64.0,742.0,65.0,737.0,0,105643
36506,2015-520,Roland Garros,Clay,128,G,20150524,92,104468,12.0,None,...,13.0,14.0,4.0,11.0,13.0,2210.0,36.0,1170.0,0,105373
36507,2012-422,Cincinnati Masters,Hard,56,M,20120812,38,105227,12.0,None,...,14.0,12.0,3.0,6.0,15.0,2015.0,88.0,589.0,0,105028
36508,2018-580,Australian Open,Hard,128,G,20180115,121,106401,17.0,None,...,8.0,12.0,2.0,7.0,17.0,2260.0,98.0,566.0,0,104297

In [108]:
df = df.sample(frac=1, random_state=42)

In [110]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
17484,2013-505,Santiago,Clay,28,A,20130204,9,104547,NaN,None,...,9.0,11.0,4.0,10.0,73.0,708.0,168.0,323.0,1,104547
35808,2016-M024,Cincinnati Masters,Hard,64,M,20160815,268,104338,NaN,PR,...,11.0,10.0,3.0,5.0,104.0,575.0,20.0,1650.0,0,103333
34295,2016-0421,Canada Masters,Hard,64,M,20160725,298,105453,3.0,None,...,20.0,9.0,6.0,9.0,6.0,4290.0,5.0,4720.0,0,104527
23140,2021-0337,Vienna,Hard,32,A,20211025,293,126207,NaN,Q,...,15.0,14.0,2.0,5.0,49.0,1192.0,3.0,7930.0,0,126774
33861,2010-422,Cincinnati Masters,Hard,56,M,20100815,27,104571,NaN,None,...,19.0,15.0,2.0,6.0,20.0,1780.0,25.0,1480.0,0,105064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16850,2022-4138,Tel Aviv,Hard,32,A,20220926,283,122548,NaN,Q,...,9.0,8.0,6.0,9.0,446.0,87.0,383.0,116.0,1,122548
6265,2011-717,Houston,Clay,28,A,20110404,20,104976,NaN,WC,...,16.0,14.0,5.0,10.0,93.0,566.0,20.0,1520.0,1,104976
11284,2022-580,Australian Open,Hard,128,G,20220117,165,132283,25.0,None,...,22.0,16.0,5.0,12.0,26.0,1860.0,96.0,748.0,1,132283
860,2014-D031,Davis Cup G1 R2: COL vs DOM,Clay,4,D,20140404,1,105053,NaN,None,...,NaN,NaN,NaN,NaN,86.0,633.0,287.0,160.0,1,105053
15795,2013-337,Vienna,Hard,28,A,20131014,22,104898,NaN,None,...,13.0,13.0,5.0,10.0,63.0,797.0,17.0,1965.0,1,104898

In [111]:
df.reset_index(drop=True, inplace=True)

In [114]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points',
       'target', 'player_id'],
      dtype='object')

In [112]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target,player_id
0,2013-505,Santiago,Clay,28,A,20130204,9,104547,NaN,None,...,9.0,11.0,4.0,10.0,73.0,708.0,168.0,323.0,1,104547
1,2016-M024,Cincinnati Masters,Hard,64,M,20160815,268,104338,NaN,PR,...,11.0,10.0,3.0,5.0,104.0,575.0,20.0,1650.0,0,103333
2,2016-0421,Canada Masters,Hard,64,M,20160725,298,105453,3.0,None,...,20.0,9.0,6.0,9.0,6.0,4290.0,5.0,4720.0,0,104527
3,2021-0337,Vienna,Hard,32,A,20211025,293,126207,NaN,Q,...,15.0,14.0,2.0,5.0,49.0,1192.0,3.0,7930.0,0,126774
4,2010-422,Cincinnati Masters,Hard,56,M,20100815,27,104571,NaN,None,...,19.0,15.0,2.0,6.0,20.0,1780.0,25.0,1480.0,0,105064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-4138,Tel Aviv,Hard,32,A,20220926,283,122548,NaN,Q,...,9.0,8.0,6.0,9.0,446.0,87.0,383.0,116.0,1,122548
36505,2011-717,Houston,Clay,28,A,20110404,20,104976,NaN,WC,...,16.0,14.0,5.0,10.0,93.0,566.0,20.0,1520.0,1,104976
36506,2022-580,Australian Open,Hard,128,G,20220117,165,132283,25.0,None,...,22.0,16.0,5.0,12.0,26.0,1860.0,96.0,748.0,1,132283
36507,2014-D031,Davis Cup G1 R2: COL vs DOM,Clay,4,D,20140404,1,105053,NaN,None,...,NaN,NaN,NaN,NaN,86.0,633.0,287.0,160.0,1,105053
36508,2013-337,Vienna,Hard,28,A,20131014,22,104898,NaN,None,...,13.0,13.0,5.0,10.0,63.0,797.0,17.0,1965.0,1,104898

In [115]:
df.to_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/data_for_simple_model_2010_to_2022.csv', index=False)

In [121]:
train = df.drop(['tourney_id', 'tourney_name','tourney_date','winner_id','winner_ioc','loser_id','score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced'],axis=1 )

In [126]:
train=train.drop(['loser_ioc','winner_seed','loser_seed'], axis = 1)

In [130]:
train =train.drop(['player_id'], axis = 1)

In [131]:
train

,surface,draw_size,tourney_level,match_num,winner_hand,winner_ht,winner_age,loser_hand,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,target
0,Clay,28,A,9,L,188.0,27.7,R,170.0,20.4,73.0,708.0,168.0,323.0,1
1,Hard,64,M,268,R,185.0,32.3,R,208.0,37.4,104.0,575.0,20.0,1650.0,0
2,Hard,64,M,298,R,178.0,26.5,R,183.0,31.3,6.0,4290.0,5.0,4720.0,0
3,Hard,32,A,293,R,188.0,23.7,R,193.0,23.2,49.0,1192.0,3.0,7930.0,0
4,Hard,56,M,27,R,183.0,25.1,L,188.0,22.6,20.0,1780.0,25.0,1480.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,Hard,32,A,283,R,183.0,25.5,L,188.0,22.7,446.0,87.0,383.0,116.0,1
36505,Clay,28,A,20,R,196.0,23.7,R,198.0,23.4,93.0,566.0,20.0,1520.0,1
36506,Hard,128,G,165,R,191.0,26.6,R,196.0,28.5,26.0,1860.0,96.0,748.0,1
36507,Clay,4,D,1,R,188.0,26.3,U,183.0,24.0,86.0,633.0,287.0,160.0,1
36508,Hard,28,A,22,R,190.0,26.5,R,178.0,26.3,63.0,797.0,17.0,1965.0,1

In [133]:
from sklearn.preprocessing import LabelEncoder

In [134]:
label_encoder = LabelEncoder()