In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\nazar\anaconda3\lib\site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
connect = psycopg2.connect(
    host = 'localhost',
    database ='atp',
    user = 'postgres',
    password = '12345678'

)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://postgres:12345678@localhost:5432/atp')

In [8]:
def select(sql):
    return pd.read_sql_query(sql,engine)

In [9]:
sql = 'SELECT * FROM atp_matches_2004'

In [10]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2004-1536,Madrid Masters,Hard,48,M,20041018,1,102610,NaN,None,...,64.0,40.0,28.0,16.0,13.0,17.0,54.0,705.0,65.0,598.0
1,2004-1536,Madrid Masters,Hard,48,M,20041018,2,103344,NaN,None,...,29.0,21.0,16.0,10.0,4.0,6.0,29.0,1085.0,38.0,883.0
2,2004-1536,Madrid Masters,Hard,48,M,20041018,3,102179,NaN,Q,...,28.0,23.0,19.0,10.0,2.0,4.0,96.0,436.0,56.0,685.0
3,2004-1536,Madrid Masters,Hard,48,M,20041018,4,103084,NaN,None,...,53.0,35.0,23.0,15.0,4.0,10.0,16.0,1369.0,112.0,384.0
4,2004-1536,Madrid Masters,Hard,48,M,20041018,5,104417,NaN,None,...,37.0,27.0,13.0,10.0,2.0,3.0,34.0,965.0,35.0,961.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3283,2004-615,Dusseldorf,Clay,64,A,20040517,290,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,28.0,1070.0
3284,2004-615,Dusseldorf,Clay,64,A,20040517,283,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,14.0,1425.0
3285,2004-615,Dusseldorf,Clay,64,A,20040517,282,103428,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,23.0,1145.0,15.0,1420.0
3286,2004-615,Dusseldorf,Clay,64,A,20040517,278,102610,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,1075.0,114.0,355.0
3287,2004-615,Dusseldorf,Clay,64,A,20040517,275,102783,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2370.0,24.0,1115.0

In [11]:
#for creating a simple model we are using matches from 2010 to 2022

In [12]:
sql = 'SELECT * FROM atp_matches_2010'

In [13]:
select(sql)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,4,104925,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6035.0,12.0,2485.0
3026,2010-D045,Davis Cup WG F: SRB vs FRA,Hard,4,D,20101203,5,104678,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,1360.0,23.0,1575.0
3027,2010-615,Dusseldorf,Clay,32,A,20100516,291,104724,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,835.0,56.0,805.0
3028,2010-615,Dusseldorf,Clay,32,A,20100516,285,103908,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,56.0,805.0,504.0,58.0
3029,2010-615,Dusseldorf,Clay,32,A,20100516,280,104676,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,80.0,615.0,56.0,805.0

In [14]:
list_matches = []

In [18]:
for i in range(2010,2023):
    sql = f'SELECT * FROM atp_matches_{i}'
    list_matches.append(select(sql))

In [22]:
len(list_matches)

13

In [23]:
df = pd.concat(list_matches)

In [24]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
2913,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
2914,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
2915,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
2916,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN

In [27]:
df.reset_index(drop=True, inplace=True)

In [28]:
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2010-339,Brisbane,Hard,32,A,20100103,1,104053,1.0,None,...,34.0,29.0,11.0,10.0,3.0,5.0,7.0,4410.0,77.0,598.0
1,2010-339,Brisbane,Hard,32,A,20100103,2,104958,NaN,WC,...,34.0,22.0,14.0,9.0,7.0,10.0,134.0,400.0,78.0,590.0
2,2010-339,Brisbane,Hard,32,A,20100103,3,104755,NaN,None,...,58.0,38.0,14.0,14.0,7.0,11.0,52.0,850.0,88.0,568.0
3,2010-339,Brisbane,Hard,32,A,20100103,4,105051,NaN,Q,...,29.0,16.0,15.0,9.0,2.0,5.0,285.0,151.0,28.0,1260.0
4,2010-339,Brisbane,Hard,32,A,20100103,5,104607,4.0,None,...,41.0,26.0,14.0,9.0,6.0,9.0,20.0,1655.0,251.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36504,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,4,209362,NaN,None,...,68.0,42.0,12.0,10.0,11.0,13.0,1103.0,9.0,1130.0,8.0
36505,2022-M-DC-2022-WG2-PO-GRE-JAM-01,Davis Cup WG2 PO: GRE vs JAM,Clay,4,D,20220304,5,202065,NaN,None,...,56.0,40.0,20.0,15.0,4.0,8.0,808.0,23.0,1390.0,4.0
36506,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,1,138846,NaN,None,...,54.0,29.0,8.0,11.0,6.0,10.0,1059.0,10.0,1881.0,1.0
36507,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,2,209409,NaN,None,...,39.0,24.0,7.0,10.0,5.0,9.0,NaN,NaN,NaN,NaN
36508,2022-M-DC-2022-WG2-PO-HKG-BEN-01,Davis Cup WG2 PO: HKG vs BEN,Hard,4,D,20220304,4,208414,NaN,None,...,34.0,24.0,13.0,10.0,5.0,8.0,NaN,NaN,NaN,NaN