In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/nazar/Tennis_Match_Prediction/data/processed_data/simple_model_dataset.csv')

In [4]:
df

,draw_size,match_num,winner_ht,winner_age,loser_ht,loser_age,winner_rank,winner_rank_points,loser_rank,loser_rank_points,...,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,winner_hand_L,winner_hand_R,winner_hand_U,loser_hand_L,loser_hand_R,loser_hand_U
0,28,9,188.0,27.7,170.0,20.4,73.0,708.0,168.0,323.0,...,0,0,0,0,1,0,0,0,1,0
1,64,268,185.0,32.3,208.0,37.4,104.0,575.0,20.0,1650.0,...,0,0,0,1,0,1,0,0,1,0
2,64,298,178.0,26.5,183.0,31.3,6.0,4290.0,5.0,4720.0,...,0,0,0,1,0,1,0,0,1,0
3,32,293,188.0,23.7,193.0,23.2,49.0,1192.0,3.0,7930.0,...,0,0,0,0,0,1,0,0,1,0
4,56,27,183.0,25.1,188.0,22.6,20.0,1780.0,25.0,1480.0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35773,32,283,183.0,25.5,188.0,22.7,446.0,87.0,383.0,116.0,...,0,0,0,0,0,1,0,1,0,0
35774,28,20,196.0,23.7,198.0,23.4,93.0,566.0,20.0,1520.0,...,0,0,0,0,0,1,0,0,1,0
35775,128,165,191.0,26.6,196.0,28.5,26.0,1860.0,96.0,748.0,...,0,0,1,0,0,1,0,0,1,0
35776,4,1,188.0,26.3,183.0,24.0,86.0,633.0,287.0,160.0,...,1,0,0,0,0,1,0,0,0,1
35777,28,22,190.0,26.5,178.0,26.3,63.0,797.0,17.0,1965.0,...,0,0,0,0,0,1,0,0,1,0